<!doctype html>
{% load static %}
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>ev3_dummy_example_teoria</title></head>
<body><h1>Ev3 example</h1>
<p>El objetivo de esta práctica es realizar un ejemplo de funcionamiento de Ev3 real.</p>
<p><img src="{% static 'python/PREv53/img/ev3.jpg' %}" width=200px></p>

<h2>1 - Instalación</h2>
<p>No es necesaria ningún tipo de instalación adicional en el ordenador.</p>
<li>En el robot es necesaria la instalación de Flask y Ev3dev2</li>

<h2>2 - Ejecución</h2>
<ol start='' >
<li>Crea el codigo </li>
<li>Enciende el Ev3 y conéctalo a internet, esto ejecutara el server en el robot</li>
<li>Pulsa en enviar en Kibotics</li>
<li>Tu codigo se enviará al robot y se ejecutará</li>


</ul>
</body>
